#menu-button {
  background-color: white;
  border: none;
  position: fixed;
  z-index: 2;
  color: white;
  fill: white;
  top: 5px;
  right: 5px;
  padding: 10px;
  width: 50px;
  height: 50px;
  box-shadow: var(--elevation-3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}

@media screen and (min-width: 781px) {
  #menu-button {
    display: none;
  }
}