#menu-button {
  margin: 20px 5vw 0 0;
  background-color: white;
  border: none;
  position: relative;
  z-index: 1;
  color: white;
  fill: white;
  padding: 10px;
  width: 13vw;
  min-width: 13vw;
  min-height: 13vw;
  height: 13vw;
  box-shadow: var(--elevation-3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}

@media screen and (min-width: 781px) {
  #menu-button {
    display: none;
  }
}