:root {
  --elevation-3: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  --elevation-1: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
}

.codebox {
  background-color: rgb(0, 0, 0) !important;
  border: 0.5em solid rgb(0, 0, 0);
  padding: 25px !important;
  border-radius: 35px !important;
  width: 50vw !important;
  height: 60vh !important;
  max-height: 700px !important;
  box-sizing: border-box !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  box-shadow: var(--elevation-3) !important;
}

.codebox:hover {
  background-color: rgb(17, 17, 17) !important;
}

.codebox::-webkit-scrollbar {
  width: 1em !important;
}

.codebox::-webkit-scrollbar-track {
  background: rgb(255, 255, 255) !important;
  border-radius: 35px !important;
  margin-block: 1.3em !important;
}

.codebox::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.418) !important;
  border-radius: 35px !important;
  height: 1em !important;
}

.codebox::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 71, 71) !important;
}