.entity-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 1.5vh auto;
  box-sizing: border-box;
}

.entity-name h1 {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 10px 0 0;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.entity-name h2 {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  color: black;
  text-align: start;
  width: min-content;
}

.entity-type {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(209, 47, 47);
  font-style: normal;
}

.entity-header {
  display: flex;
  flex-direction: row;
}

.entity-values {
  font-family: monospace;
  font-size: 13px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  color: rgb(178, 238, 151);
  padding: 25px;
}

.entity-properties {
  font-family: monospace;
  font-size: 13px;
  margin: 0;
  display: flex;
  width: 100%;
}

.entity-secondary {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 15px;
  margin: 0 15px;
}

.entity-card .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.json-open-object {
  margin: 5px 0;
  color: rgb(209, 209, 209);
  width: 100%;
  justify-content: center;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.json-key-object {
  color: rgb(255, 162, 108);
  margin: 5px 0 5px 20px;
  justify-content: center;
  font-family: monospace;
}

.json-value-object {
  color: rgb(178, 238, 151);
  font-style: italic;
  width: 100%;
  margin: auto 10px;
  font-family: monospace;
}