.menu {
  display: flex;
  height: 10vh;
  width: 65vw;
  background-color: transparent;
  position: fixed;
  align-items: flex-start;
  justify-content: flex-end;
  top: 0;
  left: 82vw;
  z-index: 2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-property: left, width;
  transition-duration: 500ms;
}

.main-header {
  display: flex;
  z-index: 3;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 47vw;
  padding: 20px 5%;
  box-sizing: border-box;
  box-shadow: var(--elevation-3);
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}

.header-motion {
  width: fit-content;
  display: flex;
}

.header-primary, .header-secondary {
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: Rubik;
  text-decoration: none;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-primary {
  box-shadow: var(--elevation-3);
  background-color: var(--color-secondary);
  padding: 10px;
  box-sizing: border-box;
}

.header-secondary {
  color: rgb(79, 79, 79);
  padding: 0px;
  box-sizing: border-box;
}

@media screen and (min-width: 781px) {
  .main-header {
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    height: 70px;
    width: 100vw;
    padding: 0 3vw;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 2;
    transition: all ease 0.5s;
  }

  .main-header.active {
    background-color: rgb(255, 255, 255);
    box-shadow: var(--elevation-1);
  }

  .header-primary, .header-secondary {
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    padding: 10px;
    text-decoration: none;
    width: 6vw;
  }

  .header-primary {
    box-shadow: var(--elevation-3);
    background-color: var(--color-secondary);
  }
  
  .header-primary:hover{
    opacity: 0.9;
    box-shadow: var(--elevation-3);
  }

  .header-primary:active{
    opacity: 1;
    box-shadow: var(--elevation-1);
  }
  
  .header-primary.active {
    box-shadow: var(--elevation-1);
    background-color: var(--color-secondary);
  }

  .header-secondary:hover {
    opacity: 0.5;
  }
  
  .header-secondary.active {
    color: var(--color-secondary);
  }
  
  .header-secondary:active {
    opacity: 1;
  }
}