.subscribe {
  width: 96%;
  margin: 10% auto 0;
  background: none;
  border: none;
}

.subscribe-box {
  background-color: var(--color-primary);
  background: var(--default-gradient);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
}

.hero-title-subscribe {
  font-family: 'Rubik';
  font-size: 2rem;
  color: white;
  margin: 5% 0;
  text-align: start;
}

.subscribe-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#email-subscribe {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-family: 'Rubik';
  font-weight: 500;
}

#button-subscribe {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Rubik';
  font-weight: 500;
  background-color: white;
  color: var(--color-secondary);
}

.box-image-subscribe {
  display: none;
}

@media screen and (min-width: 781px) {
  
  .subscribe {
    width: 80vw;
    position: relative;
    margin: 10vh auto;
    height: 40vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .box-image-subscribe {
    display: flex;
    width: 30%;
    margin: 0;
    border-radius: 15px 0 0 15px;
    background: url('../../images/subscribe-image.png');
    background-position: 50%;
    background-size: cover;
    box-shadow: var(--elevation-3);
  }

  .subscribe-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 0 15px 15px 0;
    align-items: center;
    justify-content: center;
    box-shadow: var(--elevation-3);
  }

  .subscribe-info {
    justify-content: center;
    margin: 1vh 0;
    width: 80%;
  }
  
  .hero-title-subscribe {
    text-align: center;
    font-size: 3rem;
    margin: 1vh 0;
    width: 80%;
  }

  #button-subscribe {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    width: fit-content;
  }

  #email-subscribe {
    width: 60%;
    margin: 0;
    font-size: 1.2rem;
    height: 2rem;
    text-align: center;
  }

}