.documentations {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: white;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}

.label {
  width: 100%;
  margin: 0;
  padding: 5vh 7vw 0;
  font-family: 'Rubik';
  text-align: start;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 400;
}

.doc-title {
  font-size: 2.1rem;
  margin: 0;
  padding: 4vh 7vw 2vh;
  box-sizing: border-box;
  font-family: 'Rubik';
  width: 100%;
  text-align: start;
  font-weight: 600;
}

.doc-resume > p {
  font-size: 1.5rem;
  margin: 0;
  padding: 1vh 7vw;
  box-sizing: border-box;
  font-family: 'Rubik';
  width: 100%;
  text-align: start;
  font-weight: 400;
}

.doc-resume > ul {
  display: flex;
  flex-direction: column;
  width: 85vw;
  background: var(--default-gradient);
  box-shadow: var(--elevation-3);
  text-align: start;
  margin: 1vh auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

.doc-resume > ul > li {
  font-family: 'Rubik';
  font-size: 1.3rem;
  font-weight: 300;
  text-align: start;
  box-sizing: border-box;
  margin: 1vh 7vw;
  padding: 0;
  color: white;
}

.doc-separator {
  width: 85%;
  margin: 5vh auto;
}

@media screen and (min-width: 781px) {

  .documentations {
    padding: 70px 0 0;
  }

  .doc-primary {
    display: flex;
    margin: 3vh 7vw 0;
    justify-content: space-between;
  }

  .doc-resume {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    align-items: center;
    justify-content: space-between;
  }

  .doc-resume:first-child {
    width: 35%;
  }

  .doc-resume:last-child {
    width: 55%;
  }

  .doc-title {
    font-size: 2.5rem;
    margin: 0;
    padding: 0 0 2vh;
  }

  .doc-resume > p {
    text-align: start;
    margin: 0;
    padding: 1vh 0;
  }

  .doc-resume > ul {
    width: 100%;
  }

  .doc-resume > ul > li {
    margin: 2vh 3vw;
  }

}