:root {
  --elevation-3: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  --elevation-1: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}

.documentations {
  display: flex;
  margin-top: 75px;
  background: white;
}

.documentations article {
  display: flex;
  width: 100%;
  margin-top: 3vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.documentations article span {
  width: 70%;
  text-align: start;
}

.documentations article h1 {
  font-size: 50px;
  margin: 0;
}

.documentations article h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 15px 0 0;
}

.documentations article hr {
  color: #000;
  width: 70%;
}

.documentations article .row {
  height: auto;
  width: 70%;
  justify-content: space-between;
}

.documentations article section {
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.doc-box {
  box-shadow: var(--elevation-1);
  border-radius: 15px;
  padding: 15px 10px;
  margin: 3vh 2%;
  width: 33%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.doc-box:hover {
  box-shadow: var(--elevation-3);
}

.doc-box hr {
  border: 0.01vh solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.documentations .doc-box h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.doc-box h3 {
  font-size: 15px;
  font-weight: 500;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(38, 38, 150);
  margin: 0;
}