.home {
  margin-top: 0;
  background: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
}

.wallpaper {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-image: url('../../images/background.jpg');
  filter: blur(2px) brightness(0.5);
  background-size: cover;
  background-position: 40%;
}

.get-started {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.home-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: Rubik;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  /* animation-name : displaceTitle;
  animation-duration : 10s;
  animation-iteration-count : 1;
  animation-fill-mode : forwards;
  animation-play-state: running; */
}

.row-get-started {
  width: 100%;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.home-last-updated {
  margin: 0 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Rubik';
  color: rgb(195, 195, 195);
  /* animation-name            : displaceTitle;
  animation-duration        : 3s;
  animation-iteration-count : 1;
  animation-fill-mode       : forwards; */
}

.button-get-started {
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Rubik';
  color: white;
  background-color: var(--color-primary);
  box-shadow: var(--elevation-1);
  cursor: pointer;
  /* transition-duration: 300ms;
  transition-property: box-shadow, opacity;
  animation-name            : displaceStarted;
  animation-duration        : 4s;
  animation-iteration-count : 1;
  animation-fill-mode       : forwards; */
}

.button-get-started:hover {
  box-shadow: var(--elevation-3);
  opacity: 0.8;
}

.button-get-started:active {
  box-shadow: var(--elevation-1);
  opacity: 1;
}

@media screen and (min-width: 781px) {
  
  .get-started {
    align-items: center;
    width: 50%;
    left: 50%;
  }

  .wallpaper {
    height: 100vh;
    background-position: 60%;
  }

  .home-title {
    justify-content: flex-end;
    font-size: 60px;
    margin: 0 4vw 0 0;
  }

  .row-get-started {
    margin: 0 4vw 0 0;
    justify-content: flex-end;
  }

  .button-get-started {
    background-color: var(--color-secondary);
  }

  .button-get-started:hover {
    box-shadow: var(--elevation-3);
    opacity: 0.8;
  }
  
  .button-get-started:active {
    box-shadow: var(--elevation-1);
    opacity: 1;
  }

  .home-last-updated {
    margin: 0 5px;
    font-size: 13px;
  }

}