* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

.not-found {
  height: 90vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 25vh;  
  margin: 25vh auto 0;
  padding: 0;
}

h2 {
  font-size: 5vh;
  margin: 0 auto;
  padding: 0;
}

h3 {
  font-size: 5vh;
  margin: 20px auto auto;
  color: darkred;
  padding: 0;
}

.lootie {
  margin: 0;
  right: -6vw;
  top: 55px;
  width: 40vw;
  min-width: 500px;
  height: 35vh;
  position: fixed;
}
