.documentation-box {
  width: 80%;
  background: linear-gradient(180deg, rgb(192, 192, 192) 0%, rgb(237, 237, 237) 100%);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: var(--elevation-3);
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  min-height: 30vh;
  user-select: none;
}

.box-title {
  margin: 2vh 0 1vh;
  font-size: 1.6rem;
  font-family: 'Rubik';
  font-weight: 500;
}

.box-subtitle {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Rubik';
  font-weight: 400;
  text-align: start;
}

.documentation-box > p {
  margin: 0;
  font-size: 1rem;
  font-family: 'Rubik';
  font-weight: 400;
}

.documentation-box > .doc-separator {
  margin: 1vh 0;
}

@media screen and (min-width: 781px) {
  
  .documentation-box {
    width: 26vw;
    margin: 2vh 1vw;
    box-sizing: border-box;
  }

  .documentation-box > .doc-separator {
    width: 90%;
  }

}